$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
    --brand-color: #2196F3;
    --main-color-dark: #212121;
    --main-color-light: #FFFFFF;
    --main-color-grey: #757575;
    --main-border-light:#EEEEEE;
    --main-border-grey: #AFB1B8;
    --main-border-chill: #f7ebeb;
    --main-background-chill:#F5F4FA;
    --main-background-light: #FFFFFF;
    --main-background-beige: #E5E5E5;
    --main-background-semi-light: #f4f4f4;
    --main-background-dark: #2F303A;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
 }
